.c-block-verse {
  &__ol {
    margin-left: -20px;
    padding-bottom: 1.5rem;
    &--child {
      &:nth-of-type(2) {
        padding-left: 4rem;
      }
    }
    ol,li {
      list-style-type: decimal;
    }
    &li::marker {
      margin-left: 1rem;
    }
  }
  &__ul {
    margin-left: -40px;
    &--child {
      &:nth-last-of-type(2) {
        padding-left: 4rem;
      }
    }
  }
}