@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-card {
  display: flex;
  font-family: v.$M;
  img {
    object-fit: cover;
    box-sizing: border-box;
  }
  &__contents-area {
    background-color: v.$bg-brown;
    padding: 1rem;
  }
  &__text-area {
    color: v.$white;
  }
  &__title {
    font-weight: v.$MMbold;
  }
  &__sub-title {
    font-weight: v.$bold;
  }
  &__text {
    line-height: 1.5rem;
    flex-wrap: wrap;
  }
  &__btn {
    background-color: v.$white;
    border-radius: 2rem;
    @include m.mq (screen03) {
      border-radius: 3rem;
    }
  }
}