@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-sauce {
  background-color: #f5f5f5;
  margin-bottom: 2rem;
  @include m.mq (screen02) {
    margin-bottom: 4.5rem;
  }
  @include m.mq (screen03) {
    margin-bottom: 3rem;
  }
}