@use "../../Foundation/variable" as v;

.c-text {
  &--roboto-white {
    font-family: v.$roboto;
    color: v.$white;  
  }
  &--M-white {
    font-family: v.$M;
    color: v.$white;
  }
  &--M-text-black {
    font-family: v.$M;
    color: v.$text-black;
  }
    &__btn {
      font-weight: v.$Lbold;
      justify-content: center;
      align-items: center;
      color: v.$gray;
    }
}