@use "../../Foundation/variable" as v;

.c-title {
 
  &--m-black {
    font-family:  'M PLUS Rounded 1c', sans-serif;
    color: #3c2a10;
    font-weight: v.$Mbold;
  }
  &--m-white {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ffffff;
  }
}