@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;
$widthMq: 375px;
$widthTb: 820px;
$widthPc: 1220px;

.p-about {
  position: relative;
  background-size: cover;
  background-image: url(../../../img/bg-map.svg);
  @media (max-width: $widthMq) {
    background-image: linear-gradient(rgba(0,0,0, 0.55) 50%,rgba(0,0,0, 0.35) 50%), url(../../../img/bg-map.svg);
   }
  @media (min-width: $widthMq) and (max-width: $widthTb) {
    background-image: linear-gradient(rgba(0,0,0, 0.55) 100%,rgba(0,0,0, 0.35) 0%), url(../../../img/bg-map.svg);
   }
  @media screen and (min-width: $widthTb) {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0.55) 60%,rgba(0,0,0, 0.35) 40%), url(../../../img/bg-map.svg);
   }

  &__section-title {
    font-size: 1.8rem;
    padding-top: 2.2rem;
    padding-left: 2.2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 20;
    @include m.mq (screen02) {
      padding-left: 3rem;
    }
    .u-under-bar::before {
      position: absolute;
      height: 3px;
      bottom: -10px;
      width: 70px;
    }
  }
  &__inner {
    >.c-text--M-white {
      padding: 0.5rem 2rem 60px 2rem;
      font-size: 14px;
      line-height: 2rem;
      font-weight: bold;
      z-index: 20;
      @include m.mq (screen02) {
        padding: 0.5rem 2rem 60px 2rem;
      }
    }
  }
}
