@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;


.p-aside {
  background: #F2EDE9;
  width: 100%;
  left: 100%;
  display: flex;
  position: fixed;
  transition: all 300ms 0s ease;
  flex-direction: column;
  z-index: 120;
  &.is-open {
    left: 10%;
    height: 100%;
    overflow: scroll;
    @include m.mq (screen02) {
      left: 55%;
    } 
  } 

  @include m.mq (screen03) {
    width: 19vw;
    position: static;
  }
  &__menu-title {
    font-size: 1.4rem;
    padding-top: 4rem;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 1.3rem;
    padding-top: 3.4rem;
    padding-left: 28px;
    font-weight: 510; //要調整
    z-index: 120;
    overflow-y: scroll;
    box-sizing: border-box;
    left: 100%;
  }
  .c-list {
    li {
      &.is-open {
        > .list {
          left: 0;
        }
      }   
    } 
    &.list {
      &--item {
        li {
          margin-bottom: 50px;
          .c-list--item {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
