@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-bold {
  width: 100%;
  height: 14rem;
  @include m.mq (screen03) {
    height: 22rem;
  }
  p {
    font-weight: v.$bold;
  }
}