@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-flex-photos {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  &__first {
    padding-bottom: 4rem;
  }
  .c-flex-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: calc(100vw * 0.52);
    @include m.mq (screen021) {
      height: calc(100vw * 0.17);
    }
    &:first-of-type {
      @include m.mq (screen02) {
        margin-bottom: 7rem;
      } 
      @include m.mq (screen03) {
        margin-bottom: 3rem;
      } 
    }
    &:nth-child(3) {
      flex-direction: row-reverse;
    }
    &__img {
      width: 45%;
      @include m.mq (screen02) {
        width: 45%;
      }
      img {
        width: 100%;
      }
    }
    span {
      width: 5%;
      @include m.mq (screen02) {
        width: 3%;
      }
    }
    &__text {
      width: 50%;
      height: 90%;
      overflow: hidden;
      @include m.mq (screen02) {
        width: 52%;
      }
      @include m.mq (screen03) {
        width: 52%;
        max-height: 30vh;
      }
      @include m.mq (screen03) {
        font-size: 0.75rem;
      }
      p {
        padding: 1rem 0;
        width: 100%;
        line-height: 1.5;
      }
    }
  }
}