@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-gmenu {
    &--btn {
      border: none;
      background: transparent;
      display: block;
      & .c-menu-icon {
        width: 59px;
        @include m.mq (screen011) {
          font-size: 34px;
          left: 20px;
        }
        @include m.mq (screen02) {
          font-size: 34px;
          left: 20px;
          padding-top: 3px;
        }
      }
      @include m.mq (screen03) {
        display: none;
      }
    }
  &--fead {
    &.is-open {
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      opacity: 0.5;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 110;
      @include m.mq (screen03) {
        display: none;
      }
    }
  }
}