@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-main-visual {
  width: 100%;
  height: 100%;
  position: relative;
  .c-text--M-white {
    font-size: 36px;
    font-weight: v.$bold;
    position: absolute;
    top: 43.6%;
    left: 25px;
  }
  &.c-background-image {
    height: 285px;
    background: url(../../../img/main-visual.svg); 
    @include m.mq (screen01) {
      min-width: 375px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include m.mq (screen011) {
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include m.mq (screen02) {
      background: url(../../../img/mv-tav.svg) center center;
      width: 100%;
    }
    @include m.mq (screen03) {
      background: url(../../../img/mv-pc.svg) center center;
      height: 350px;
      transition: 200ms;
      width: 100%;
    }
    &--shadow {
      height: 285px;
      background-image: url(../../../img/mb-shadow.svg);
      background-color: rgba(0, 0, 0, 0.8);
      @include m.mq (screen02) {
        height: 300px;
      }
      @include m.mq (screen03) {
        height: 220px;
      }
      .c-text--M-white {
        display: flex;
        flex-direction: column;
        font-family: v.$roboto;
        font-size: 1.3rem;
        font-weight: v.$Lbold;
        position: absolute;
        top: 38%;
        left: 25px;
        @include m.mq (screen02) {
          font-size: 2rem;
          left: 6rem;
          flex-direction: row;
        }
        @include m.mq (screen03) {
          font-size: 1.4rem;
          left: 3.5rem;
        }
        p {
          font-size: 1.2rem;
          text-align: center;
          font-weight: normal;
          @include m.mq (screen02) {
            padding-top: 2.5rem;
            padding-left: 1rem;
          }
          @include m.mq (screen03) {
            padding-top: 1.4rem;
          }
        }
      }
    }
    &.single {
      height: 285px;
      background: url(../../../img/main-visual2.png) center; 
      background-size: cover;
      background-repeat: no-repeat;
      @include m.mq (screen01) {
        min-width: 375px;
      }
      @include m.mq (screen011) {
  
      }
      @include m.mq (screen02) {
      height: 33rem;
      }
      @include m.mq (screen03) {
        background: url(../../../img/mv-pc2.png);
        height: 350px;
        transition: 200ms;
        width: 100%;
      }
      .c-text--M-white {
        font-size: 36px;
        font-weight: v.$bold;
        position: absolute;
        top: 43.6%;
        left: 25px;
        @include m.mq (screen02) {
          font-size: 60px;
          left: 80px;
        }
        @include m.mq (screen03) {
          font-size: 40px;
          left: 70px;
        }
      }
    }
    &.page {
      height: 285px;
      background: url(../../../img/main-visual3.png) center; 
      background-size: cover;
      background-repeat: no-repeat;
      @include m.mq (screen01) {
        min-width: 375px;
      }
      @include m.mq (screen011) {
  
      }
      @include m.mq (screen02) {
      height: 33rem;
      }
      @include m.mq (screen03) {
        background: url(../../../img/mv-pc3.png);
        height: 350px;
        transition: 200ms;
        width: 100%;
      }
      .c-text--M-white {
        font-size: 36px;
        font-weight: v.$bold;
        position: absolute;
        top: 43.6%;
        left: 25px;
        @include m.mq (screen02) {
          font-size: 60px;
          left: 80px;
        }
        @include m.mq (screen03) {
          font-size: 40px;
          left: 70px;
        }
      }
    }
  }
}