@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;


.p-pagination {
  .c-pagination {
    font-size: 1.2rem;
    padding: 3rem 1.8rem 1rem 1.8rem;
    @include m.mq (screen02) {
      width: 574px;
      font-size: 0.8rem;
      margin: 3rem auto 0 auto;
      padding: 4rem auto 0 auto;
    }
    @include m.mq (screen03) {
      width: 470px;
      padding: 3rem 0 1rem 0;
      font-size: 0.65rem;
    }
    li {
      padding-right: 1rem;
      @include m.mq (screen02) {
        padding-right: 0.5rem;
      }
      @include m.mq (screen03) {
        padding-right: 0.35rem;
      }
    }
    li:first-of-type {
      display: none;
      @include m.mq (screen02) {
        display: block;
        font-size: 0.9rem;
        padding-top: 0.5rem;
      }
      @include m.mq (screen03) {
        font-size: 0.5rem;
      }
    }
    &--prev, &--next {
      img {
        @include m.mq (screen02) {
          height: 1.5rem;
          padding-top: 0.5rem;
        }
        @include m.mq (screen03) {
          height: 1.5rem;
        }
      }
    }
    &--no {
      a {
        @include m.mq (screen03) {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  } 
}