@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-search {
  display: flex;
  justify-content: center;
  margin: 0 auto 45px auto;
  width: 337px;
  @include m.mq (screen011) {
    width: 450px;
    margin: 0 auto 45px auto;
  }
  @include m.mq (screen02) {
    width: 535px;
    margin: 0 auto 45px auto;
  }
  @include m.mq (screen03) {
    width: 0;
    margin: auto 170px auto auto;
  }
  .c-text-box--has-icon {
    min-width: 230px;
    height: 46px;
    width: 100%;
    input {
      font-size: 200%;
      @include m.mq (screen03) {
        font-size: 140%;
      }
    }
    @include m.mq (screen011) {
      width: 300px;
    }
    @include m.mq (screen02) {
      width: 400px;
      transition: 200ms;
    }
    @include m.mq (screen03) {
      width: 252.1px;
      height: 1.7rem;
      transition: 200ms;
    }
    &__inner {
      @include m.mq (screen03) {
        border-radius: 5px;
      }
    }
  }
  .c-btn--submit {
    min-width: 78px;
    @include m.mq (screen011) {
      width: 115px;
    }
    @include m.mq (screen02) {
      width: 136px;
      transition: 200ms;
    }
    @include m.mq (screen03) {
      width: 88px;
      transition: 200ms;
      height: 1.7rem;
    }
  }
}
