@use "../Foundation/mixin" as m;

.l-contents {
  &--wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 2.3rem;
    transition: 200ms;
    @include m.mq (screen02) {
      flex-direction: row;
      margin: 1.1rem;
    }
    @include m.mq (screen021) {
      margin: 2.5% 1.5% 3% 1.5%;
    }
    @include m.mq (screen03) {
      margin: 5% 5% 6% 5%;
    }
  }
  @include m.mq (screen02) {
    width: 50%;
  }
  margin: 0.6rem auto;
  @include m.mq (screen011) {
    margin: 1.2rem;
  }
  @include m.mq (screen03) {
    margin: 3%;
  }
  &__item {
    margin: 0 1.2rem 1.2rem 1.2rem;
    padding: 1rem 1.25rem 1rem 1.25rem;
  }

  &_pages {
    padding: 1rem 1.2rem 1rem 1.2rem;
    @include m.mq (screen02) {
      padding: 1rem 3.5rem;
    }
    @include m.mq (screen03) {
      padding: 1rem 5rem;
    }
  }  
}